### Import Libraries

>Note : Install `Pandas` and `sqlalchemy` in python environment, before running this Notebook

In [2]:
import pandas as pd
from sqlalchemy import create_engine
from time import time
import numpy as np

In [3]:
pd.__version__

'1.4.2'

### Read Parquet File Via Pandas

>Note: Make sure you downloaded `yellow_tripdata_2021-01.parquet` in the same folder with this Jupyter Notebook.

In [8]:
#t_start is required to record the start time before read parquet data.
t_start = time()

#Script for read parqueat file using pd.read_parquet to dataframe (df)
#In python, dataFrame is a 2-dimensional labeled data structure with columns of potentially different types. 
df = pd.read_parquet('yellow_tripdata_2021-01.parquet')

#t_end is required to record the end time after read parquet data.
t_end = time()

#The difference between t_end and t_start show how much time to read data
print("Read files took %.3f second" % (t_end - t_start))

Read files took 0.984 second

In [9]:
df.shape

(1369769, 19)

>For more than 1 million row data and 19 columns, `Pandas` take 1 second to read `.parquet`. 

>Impressive!

### Create Schema for Database

Lets take a look 5 first data.

In [10]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

Then, we will create database ***schema*** . 

What is ***schema***? 

Schema is the structure of the database. In this case it describes the columns of our table. 

Pandas can output the SQL *DDL* (Data definition language) instructions necessary to create the schema using `pd.io.sql.get_schema()` on Yellow Trip dataframe `df`.

In [11]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

>Note : 
>    - This only outputs the instructions, it hasn't actually created the table in the database yet.
>    - We need SQLAlchemy to connect and create table to database.

### Test NY_Taxi Database Connection using SQLAlchemy

In [12]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [14]:
# run this cell when the Postgres Docker container is running
engine.connect()

In [32]:
# we can now use our engine connection to create yellow_taxi_data schema 
# based on 2021 january yellow taxi trip dataframe using following script 
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

- We can now use `pgcli -h localhost -p 5432 -u root -d ny_taxi` on a separate terminal to look at the database. 

<p align="center">
  <img src="copy_image/0_test_pgcli.png" >
</p>

- Then use `\d` for looking available tables.

<p align="center">
  <img src="copy_image/1_list_table.png">
</p>

- Try to use `\d yellow_taxi_data` to view yellow taxi data schema.
<p align="center">
  <img src="copy_image/2_yellow_taxi_schema.png">
</p>

### Create Batch Ingestion from Yellow Taxi Trip Parquet Data to NY_Taxi Database

In [47]:
#create batch ingestion function with dataframe input, chunksize or batch and engine name
def batch_ingest(data, chunksize, engine):
    list_df = np.array_split(data, chunksize)
    for i in range (chunksize):
        try:
            t_start = time()
            list_df[i].to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
            t_end = time()
            j =i+1
            print('Inserted chunk no-' + str(j) +' took %.3f second' % (t_end - t_start) + ', it has '+ str(len(list_df[i])) + ' rows')
        except StopIteration:
            print('Failed!')
            break

In [48]:
#execute batch ingestion function
batch_ingest(df, 20, engine)

Inserted chunk no-1 took 14.762 second, it has 68489 rows
Inserted chunk no-2 took 13.977 second, it has 68489 rows
Inserted chunk no-3 took 15.945 second, it has 68489 rows
Inserted chunk no-4 took 15.236 second, it has 68489 rows
Inserted chunk no-5 took 15.750 second, it has 68489 rows
Inserted chunk no-6 took 15.306 second, it has 68489 rows
Inserted chunk no-7 took 14.832 second, it has 68489 rows
Inserted chunk no-8 took 14.929 second, it has 68489 rows
Inserted chunk no-9 took 15.750 second, it has 68489 rows
Inserted chunk no-10 took 14.435 second, it has 68488 rows
Inserted chunk no-11 took 15.632 second, it has 68488 rows
Inserted chunk no-12 took 15.713 second, it has 68488 rows
Inserted chunk no-13 took 16.172 second, it has 68488 rows
Inserted chunk no-14 took 15.206 second, it has 68488 rows
Inserted chunk no-15 took 15.687 second, it has 68488 rows
Inserted chunk no-16 took 15.814 second, it has 68488 rows
Inserted chunk no-17 took 16.062 second, it has 68488 rows
Inserted chunk no-18 took 15.021 second, it has 68488 rows
Inserted chunk no-19 took 15.359 second, it has 68488 rows
Inserted chunk no-20 took 14.164 second, it has 68488 rows

In [49]:
df.shape

(1369769, 19)

- We can use `SELECT COUNT(1) FROM yellow_taxi_data` to count yellow_taxi_data row number. 

<p align="center">
  <img src="copy_image/3_yellow_taxi_data_rowsize.png">
</p>

- yellow_taxi_data has 1.369.769 row size as well, same with dataframe row size. 
- It mean, we have successfully move data from parquet file to Postgre database.

### Create SQL Query to Access Postgre via Jupyter Notebook

In [3]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [11]:
query = """
SELECT * 
FROM yellow_taxi_data
WHERE trip_distance < 0.5
ORDER BY trip_distance DESC
LIMIT 5 
"""

pd.read_sql(query, con=engine)

,index,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1579,2,2021-01-01 01:30:06,2021-01-01 01:32:06,1.0,0.49,1.0,N,107,170,1,4.0,0.5,0.5,1.95,0.0,0.3,9.75,2.5,None
1,2146,2,2021-01-01 01:37:14,2021-01-01 01:40:33,1.0,0.49,1.0,N,231,231,1,4.5,0.5,0.5,0.00,0.0,0.3,8.30,2.5,None
2,735,2,2021-01-01 00:15:54,2021-01-01 00:21:07,1.0,0.49,1.0,N,161,163,2,5.0,0.5,0.5,0.00,0.0,0.3,8.80,2.5,None
3,712,2,2021-01-01 00:17:18,2021-01-01 00:20:56,1.0,0.49,1.0,N,148,232,2,4.5,0.5,0.5,0.00,0.0,0.3,8.30,2.5,None
4,4326,2,2021-01-01 06:06:00,2021-01-01 06:08:07,1.0,0.49,1.0,N,48,48,1,4.0,0.5,0.5,0.00,0.0,0.3,7.80,2.5,None